# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea/gradle.xml
.idea/compiler.xml
/shared_database/.idea/.gitignore
/shared_database/order_service/.idea/dataSources/a8c7ab3f-1ef5-4a2a-a523-a3244cd92870.xml
/shared_database/order_service/.idea/shelf/add_more_port__connection_to_db_.xml
/shared_database/.idea/codeStyles/codeStyleConfig.xml
/shared_database/order_service/.idea/dataSources.local.xml
/shared_database/order_service/.idea/dataSources/a8c7ab3f-1ef5-4a2a-a523-a3244cd92870/storage_v2/_src_/database/postgres.edMnLQ/schema/information_schema.FNRwLQ.meta
/shared_database/.idea/misc.xml
/shared_database/.idea/modules.xml
/shared_database/order_service/.idea/dataSources/a8c7ab3f-1ef5-4a2a-a523-a3244cd92870/storage_v2/_src_/database/postgres.edMnLQ/schema/pg_catalog.0S1ZNQ.meta
/shared_database/order_service/.idea/dataSources/a8c7ab3f-1ef5-4a2a-a523-a3244cd92870/storage_v2/_src_/database/postgres.edMnLQ.meta
/shared_database/.idea/codeStyles/Project.xml
/shared_database/order_service/.idea/dataSources/a8c7ab3f-1ef5-4a2a-a523-a3244cd92870/storage_v2/_src_/database/postgres.edMnLQ/schema/public.abK9xQ.meta
/shared_database/.idea/shared_database.iml
/shared_database/order_service/.idea/shelf/add_more_port_(connection_to_db)/shelved.patch
/shared_database/.idea/vcs.xml
/shared_database/db/.idea/workspace.xml
/shared_database/order_service/.idea/workspace.xml
